-# All questions of a survey: http://www.socialresearchmethods.net/kb/questype.php
.nested-fields
  .form-group
    .row.form-inputs
      .col-sm-3
        = f.input :type, collection: Question::TYPES
      .col-sm-7
        = f.input :value
      .col-sm-2
        = link_to_remove_association "remove question", f, :class => "btn btn-material-red-200"
  #candidates
    = f.simple_fields_for :candidates do |candidate|
      = render 'candidate_fields', :f => candidate
    .links
      = link_to_add_association 'add candidate', f, :candidates