.row
  .col-sm-12.col-md-9
    %h2= @survey.name

    %h4 Description:
    %p= @survey.description

    %h4 Questions:

    - @survey.questions.each do |question|
      .well
        .row
          .col-sm-10.col-md-10
            = question.value
          .col-sm-2.col-md-2.text-right
            %span.badge.well-material-blue-400
              = question.type
  .hidden-xs.hidden-sm.col-md-3
    -# You can make a tree
= link_to 'Edit', edit_survey_path(@survey), :class => "btn btn-default"
\
= link_to 'Back', surveys_path, :class => "btn btn-default"
